body
{
	background: url(music1.jpg) no-repeat fixed center;
	background-size: cover;
}

.videoPlayer
{
	width:80%;
	margin: 100px auto;
}

#controls
{
	width:480px;
	height:25px;
	font-size:13px;
	color:orange;
	background-color: grey;
	font-family:georgia;
	position:relative;
	top:-20px;
}

#controls div
{
	float:left;
	height: 25px;
	line-height: 25px;
}

.player
{
	width:40px;
	cursor:pointer;
	text-align:center;
}

#progressBar
{
	position:relative;
	background-color:#ffcc99;
	width:310px;

}
#progress
{
	position:absolute;
	background-color: orange;
}
#loadStatus
{
	position:absolute;
	background-color: #d5ff80;
}
#timeDisplay
{
	width:120px;
	text-align: center;
	font-size: 15px;
}
