html ,body
{
	border:0;
	margin: 0;
	padding: 0;
	color:white;
	font-family:  Georgia, Serif;
	
	
}
html
{
	height: 100%;
}
body
{
	background: url(2903515358_cc60bcb091_b.jpg) no-repeat center fixed;
	background-size: cover;
	min-height: 100%;
}
a ,a:hover ,a:visited
{
	color:white;
}
li
{
	text-decoration: none;
}
/*a:hover
{
	color:white;
}*/

#overlay
{
	background-color: rgba(7, 7, 7, 0.4);
	position: relative;
	height: 100%
}

.hide
{
	display: none;
}

.show
{
	display:block;
}

#wcBanner
{
	
	width:60%;
	height:60%;
	margin:100px auto;
	background-color: rgba(9, 66, 27, 0.5);
	border-radius: 10px;
	position: relative;
	display: block;

}
.wcBanner-content
{
		width: 80%;
		margin: 70px  auto;
		height:80%;

}

.wcBanner-body
{
	height: 80%;
	position: relative;
	text-align: center;
	padding: 10px 0 10px 0;

}
.wcBanner-footer
{
	
	text-align: center;
}

#mainPage
{
	
	height:100%;
	width: 100%;
	
}
#weatherWidget
{
	display: block;
	position: absolute;
	color:#33ffad;
	height: 150px;
	width:300px;
	float:right;
	top:20px;
	right: 20px;
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: rgba(0, 128, 77,0.5);
	box-shadow: 10px 5px 5px black;
}
#weatherWidget i{

	font-size: 80px;
	line-height: 150px;
	vertical-align: middle;
	
};
.weatherImage{
	position: relative;
	height: 150px;
	
}
.weatherDesc{
	height: inherit;
	display: block;

}
/*.currentTemp
{
	display: inline-block;
}
.temp{
display: inline-block;
}*/
#currentTemp #units{
	position: relative;
	display: inline-block;
}
#currentTemp
{
	font-size: 25px;

}
#units
{
	font-size: 18px;
}
#cityName
{
	padding-top:10px;
}
/*Survey*/
.survey
{
	width:60%;
	height:400px;
	margin: 180px auto;
	top:10%;
	background:url(survey.jpg) , no-repeat center;
	background-size: cover;
	box-shadow: 20px 10px 10px black;
}
.panel
{
	position:absolute;
	overflow: hidden;
	height: 100%;
	width: inherit;
	text-align: center;
	color:orange;
	width:60%;
	margin:50px auto;
	background-color: transparent;
	
}
.panel-content
{
	height:80%;
	position: relative;
}

.navigation{
	position: relative;
	
	text-align: center;
	font-size: 30px;
	
	
}
.personalInfo{
	background-image: url();

}

.nextItem
{
	transform: translateX(896px);
}
.prevItem
{
	transform: translateX(-896px);	
}
.setOpacity
{
	opacity: 1;
}
.offOpacity
{
	opacity: 0;
}
